.itemCreator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: black;
  opacity: 0.99;
  padding: 10px 0;
}

.itemCreator form input {
  /* display: block; */
  margin: 10px auto;
}

.s3ImageContainer {
  width: 150px;
  margin: auto;
}
