body {
  background-color: #6e826c;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  min-width: 50px;
  padding: 10px;
  font-size: 16px;
}

input[type="submit"],
input[type="button"] {
  border: 1px solid black;
  box-shadow: -3px -3px darkslategray;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  opacity: 0.7;
}

.text-button {
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(31, 31, 31);
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: -3px -3px whitesmoke;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.text-button:hover {
  opacity: 0.7;
}

.go-container {
  background-color: rgb(148, 158, 168);
  max-width: 900px;
  min-height: 100vh;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .go-container {
    max-width: 95%;
  }
}

.with-header {
  margin-top: 60px;
}

a {
  color: whitesmoke;
}

a:hover {
  color: whitesmoke;
}

a:visited {
  color: whitesmoke;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: whitesmoke;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 1.5rem;
  display: block;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 25px;
  line-height: 25px;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}
