body {
  background-color: rgb(191, 204, 218);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input {
  min-width: 50px;
  padding: 10px;
  font-size: 16px;
}

.text-right {
  text-align: right;
  float: right;
}

.text-center {
  text-align: center;
  float: middle;
}

.text-margin-10px * {
  margin: 10px;
}

.text-button {
  display: inline-block;
  text-decoration: none;
  color: whitesmoke;
  background-color: rgb(31, 31, 31);
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: -3px -3px whitesmoke;
}

.text-button:hover {
  opacity: 0.7;
}

.p10px {
  padding: 10px;
}

.m10px {
  margin: 10px;
}

.va-middle * {
  vertical-align: middle;
}

input[type="submit"],
input[type="button"] {
  border: 1px solid black;
  box-shadow: -3px -3px darkslategray;
}
