.cateringItem {
  margin: 10px;
  width: 150px;
  background-color: black;
  color: whitesmoke;
  opacity: 0.9;
  display: inline-block;
  cursor: pointer;
  padding: 5px;
}

.cateringItem:hover {
  opacity: 1;
}

.cateringItem img {
  max-height: 150px;
  max-width: 100%;
  margin-bottom: 10px;
}

.cateringItemUploadButton {
  padding: 1px;
  margin: auto auto;
}
