@media screen and (max-width: 900px) {
  .leftImg {
    display: none;
  }
}

.leftImg {
  float: left;
  text-align: center;
  height: 100%;
  transform: scaleX(-1);
}

.rightImg {
  float: right;
  text-align: center;
  height: 100%;
}

.headerWords {
  font-size: 2rem;
}
