@media screen and (max-width: 900px) {
  .leftImg {
    display: none;
  }
}

.leftImg {
  float: left;
  border: solid 1px;
  text-align: center;
}

.rightImg {
  float: right;
  border: solid 1px;
  text-align: center;
}
