.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: auto auto;
}

.container * {
  margin: 10px;
}

.dbItem {
  display: grid;
  grid-template-columns: 60% auto;
  text-align: left;
  width: 95%;
  border: 1px solid black;
  box-shadow: -3px -3px whitesmoke;
  background-color: rgb(200, 226, 226);
}

.dbItemText {
  padding: 10px;
}
